<h1><%= @restaurant.name %>
  <small>
    <% if @restaurant.rating.nil? %>
      no reviews
    <% else %>
      <%= @restaurant.rating.to_s[-1] == '0'? @restaurant.rating.to_i : @restaurant.rating.round(1)%>/5
    <% end %>
  </small>
</h1>
<p><%= @restaurant.description %></p>
<% @restaurant.reviews.each do |review |%>
  <div class="review">
    <p>Rating: <%= review.rating %>/5</p>
    <p><%= review.thoughts %></p>
  </div>
<% end %>
<div class='links'>
  <%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %>
  <%= link_to "Delete #{@restaurant.name}", restaurant_path(@restaurant), method: :delete %>
  <%= link_to "Review #{@restaurant.name}", new_restaurant_review_path(@restaurant) %>
</div>
